<script type="text/javascript">
	setTimeout(function sunrise() {
		document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
	}, 0);
</script>

<div class="default-page">
	<a href="https://github.com/amjavonitalla/mockingj">
		<img style="position: absolute; top: 0; right: 0; border: 0;"
		     src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
		     alt="Fork me on GitHub"
		     data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
	<div class="header">
		<h1 id="main-title" class="container">MockingJ</h1>

		<h3 class="container">REST Mocking Server for Developers and Testers</h3>
	</div>
	<div class="main container clearfix">
		<h1>Possible Use Cases</h1>
		<ul class="getting-started">
			<li class="clearfix">
				<div class="step">
					<div class="sprite one"></div>
					<h3>Mobile and Desktop Developers</h3>

					<p>The backend is not yet ready. Instead of hard-coding expected response in your code. Mock the responses and point your app to
						mockingj.</p>
				</div>
			</li>
			<li class="clearfix">
				<div class="step">
					<div class="sprite two"></div>
					<h3>Testing Different Scenarios</h3>

					<p>You already have a backend server but you wanted to test failed scenarios (i.e. server error, timeout). </p>
				</div>
			</li>
			<li class="clearfix">
				<div class="step">
					<div class="sprite three"></div>
					<h3>Testers</h3>

					<p>Mock response can be grouped in test cases.</p>
				</div>
			</li>
		</ul>

		<div class="links">
			<ul class="link-list">
				<h4>Getting Started</h4>
				<a target="_blank" href="#">
					<li>Installing mockingj</li>
				</a>
				<a target="_blank" href="#">
					<li>Creating your mock response</li>
				</a>
			</ul>
		</div>
	</div>
</div>
