<div class="bs-docs-header">
  <div class="container">
    <h3>REST Mocking Server for Developers and Testers</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Method
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">GET</a></li>
            <li><a href="#">POST</a></li>
            <li><a href="#">PUT</a></li>
            <li><a href="#">DELETE</a></li>
            <li><a href="#">HEAD</a></li>
            <li><a href="#">OPTIONS</a></li>
          </ul>
        </div>
        <input type="text" class="form-control" aria-label="URL" placeholder="Relative URL">

        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Response
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">200</a></li>
            <li><a href="#">204</a></li>
            <li><a href="#">301</a></li>
            <li><a href="#">302</a></li>
            <li><a href="#">304</a></li>
            <li><a href="#">307</a></li>
            <li><a href="#">308</a></li>
            <li><a href="#">400</a></li>
            <li><a href="#">401</a></li>
            <li><a href="#">403</a></li>
            <li><a href="#">404</a></li>
            <li><a href="#">500</a></li>
            <li><a href="#">501</a></li>
            <li><a href="#">502</a></li>
            <li><a href="#">503</a></li>
            <li><a href="#">504</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  setTimeout(function sunrise() {
    document.getElementsByClassName('bs-docs-header')[0].style.backgroundColor = '#118798';
  }, 0);
</script>
