<!DOCTYPE html>
<html>
  <head>
    <title>MockingJ</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:121192,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/app-theme.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/docs.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io-client/socket.io.js"></script>
    <script src="/linker/js/sails.io.js/sails.io.js"></script>
    <script src="/linker/js/jquery/jquery.min.js"></script>
    <script src="/linker/js/bootstrap/bootstrap.min.js"></script>
    <script src="/linker/js/angular/angular.min.js"></script>
    <script src="/linker/js/angular-route/angular-route.js"></script>
    <script src="/linker/js/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/linker/js/angular-sails/angular-sails.min.js"></script>
    <script src="/js/angular/utils/lodash.js"></script>
    <script src="/js/docs.min.js"></script>
    <!--SCRIPTS END-->


  </body>
</html>
