/*** Primary ***/

header,
#subtitle,
a.dl {
  background-color: #8248b9;
}

.content-nav li.active a,
.content-nav li.active a:hover {
  border-left-color: #8248b9;
}

/*** One step left on the monochromatic scale ***/

header menu li a:hover,
a.dl:hover {
  background-color: #7540a7;
}
a {
  color: #7540a7;
}

/*** Three steps left on the monochromatic scale ***/

a:hover {
  color: #5b3283;
}